
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.row{
  width: 90%;
  margin: auto 5%;
}


/* ---- Header ---- */

.header{
  position: fixed;
  width: 100%;
  background: #1f2536;
}

.inner-header{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.inner-header .logo{
  width: 40px;
}

.inner-header .menu-icon{
  width: 30px;
}

/* --- Hero --- */

.hero{
  background: #1F2535;
  height: 100vh;
}

.inner-hero{
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-content{
  width: 50%;
}

.hero-content h1{
  margin: 0;
  font-size: 4em;
  color: #ffffff;
}

.hero-content p{
  margin: 0;
  font-size: 1.3em;
  color: #ffffff;
}

.hero-content a{
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #1F2535;
  margin-top: 50px;
  display: block;
  width: 150px;
  text-align: center;
}

/* --- Info --- */

.info{
  padding: 100px 0;
}

.inner-info{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.inner-info .card{
  width: 20%;
}

.inner-info .card img{
  width: 80%;
  display: block;
  margin: 0 auto;
}
